.history {
  display: flex;
  padding: 20px;
  padding-top: 0px;
}

.history__container {
  margin: 10px;
  flex: 1;
  /* background-color: white; */
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
}

.history__card {
  padding: 10px;
  margin: 10px;
  /* background-color: #efeff0; */
}

.history__card > h1 {
  margin: 0;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.history__card > div > svg > g > g > g > g > text {
  display: none;
}

.history__card > div > svg > .bb-legend {
  display: none;
}

.history__card > div > svg {
  height: 300px;
}

/* .history__container:hover > a > .MuiPaper-root {
  transform: scale(1.01);
} */

.history__card > * {
  cursor: pointer;
}

.history__container > * {
  cursor: pointer;
}

.history__card:hover > div > svg {
  cursor: pointer;
}

.history__container > a > .MuiPaper-root {
  margin: 10px;
  height: 425px;
}

.history__card > div {
  overflow: hidden;
}

.history__card > h2 {
  margin: 0;
  text-align: center;
}

.history__container > a > .MuiPaper-elevation4 {
  box-shadow: 0px 2px 4px -1px black, 0px 4px 5px 0px black,
    0px 1px 10px 0px black;
}

.history__container > a > div:hover {
  transform: scale(1.02);
}

.no__pitches__history {
  font-size: large;
  margin: 10px;
  text-align: center;
  color: white;
}
