.results {
  padding: 20px;
  padding-top: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 400px;
}

.results > .MuiPaper-rounded {
  border-radius: 9px;
}

.results__container {
  display: flex;
  background-color: #f3f6f7;
}

.results__container__left > .MuiPaper-root {
  margin: 10px;
  background-color: #f9f9f9;
  height: 80%;
}

.results__container__left > h2 {
  text-align: center;
}

.results__container__left {
  flex: 0.4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.results__container__right {
  flex: 1;
  display: flex;
}

.results__container__right > .MuiPaper-root {
  padding: 20px;
  margin: 10px;
  display: flex;
  width: 100%;
  border: 1px solid gray;
}

.results__container__right__left {
  flex: 0.5;
  margin-right: 20px;
  border-right: 1px solid lightgray;
}

.results__container__right__left > h2 {
  margin: 0px;
}

.results__container__right__left > p {
  margin-right: 20px;
}

.results__container__right__right {
  width: 100%;
  flex: 0.5;
}

.results__container__right__top {
  width: 100%;
  translate: 100ms;
}

.results__container__right__top:hover {
  transform: scale(1.03);
}

.results__container__right__bottom {
  translate: 100ms;
}

.results__container__right__bottom:hover {
  transform: scale(1.03);
}

.rate {
  fill: black;
}

.pie__path {
  border: 1px solid #000;
}

.results__container__right__top > .MuiPaper-root {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.results__container__right__top > .MuiPaper-root > h2 {
  margin: 0;
}

.results__container__right__top > .MuiPaper-root > span > p {
  margin: 0;
}

.results__container__right__top > .MuiPaper-root > span {
  margin-top: 10px;
  display: flex;
}

.results__container__right__bottom > .MuiPaper-root {
  padding: 10px;
  border: 1px solid gray;
  margin-top: 10px;
}

.results__container__right__bottom > .MuiPaper-root > h2 {
  margin: 0;
}

.results__container__right__bottom > .MuiPaper-root > p {
  margin: 0;
  margin-top: 10px;
}

.no__pitches {
  margin: 10px;
  text-align: center;
  color: white;
}
