@import 'Video.css';
@import 'auth-form.css';
@import 'app.css';
@import 'results.css';
@import 'navbar.css';
@import 'History.css';
@import 'user-account.css';
@import 'user-home.css';
@import 'tutorial.css';

body {
  font-family: sans-serif;
  background-image: url('trianglify-lowres.png');
  background-size: 2000px 1000px;
  background-repeat: no-repeat;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: white;
  border: 1px solid black;
  width: 90%;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

.results-charts {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

.charts {
  flex: 1;
}

.charts:first-child {
  margin-right: 20px;
}
