@import 'Video.css';
@import 'auth-form.css';
@import 'app.css';
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.results-charts {
  display: flex;
  flex-direction: row;
}

.charts {
  flex: 1;
}

.charts:first-child {
  margin-right: 20px;
}
